* {
  margin: 0;
  padding: 0;
}
header {
  height: 20vh;
  width: 100vw;
  background-color: rgb(3, 66, 184);

}
.container {
    height: 100%;
    width: 70vw;
    margin: 0 auto;
}
.container img {
    height: 100%;
    float: left;
}
.container nav {
    height: 100%;
}
.container ul{
    list-style: none;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}
.container li{
    font-size: 5vh;
    border: 1px solid black;
    padding: 1vh;
    background-color: rgb(0, 89, 255);
    border-radius: 5px;
    border-radius: 5%;

}
.container li:hover a{
    color: rgb(42, 157, 165);
    font-weight: 800;
}
.container a{
    text-decoration: none;
}
.main{
    background-color: rgb(7, 100, 175);
    padding: 50px;
}
.main .item{
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.main .text{
    width: 80%;
}
.main img{
    height: 100%;
}

